<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="imagemDeFundo bg-recover">
    <div class="login-container">
        <div class="login-form">
            <form th:action="@{/recoverpassword}" method="post">
                <h4 class="login-title">E-mail de recuperação:</h4>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <div class="login-button-container">
                    <button type="submit">Recuperar senha</button>
                </div>
                <p class="login-redirect-options">
                    Lembrou sua senha? <a th:href="@{/login}">Faça login</a>
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>